@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {margin: 0; padding: 0; }

/* body div {
    display: none;
    width: 600px;
    margin: 80px auto;
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body{
 background-color:  #116979;

}

/* body{
    background-color:  #38424B;

} */

#Home div , #selection-page div {
    margin-top: 20px;
    
}
/* #Home{
    display: none;
} */
#stateNumbers,#show-manual,#stateNumbersContainer,#depth-container{
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#Home ,#selection-page,#select-state,#chooseBetweenCustom,#show-manual,#depth-page{
    margin-top: 100px !important;
    
}
#selection-page,#chooseBetweenCustom{
    position: relative;
}

#choose {
    position: relative;
    background-color: #ebebeb;
}
.choices{
    text-align: center;
    padding-top: 10px;
}
#sizeNbox{
    background-color:#ebebeb;
    width: 110px;
}
.choices #custombtn,#randombtn,#manualbtn,#autobtn{
    margin-right: 25px;
    display: inline;
    font-family: 'Quicksand';
    font-size: 24px;
    color: #ebebeb;
    line-height: 60px;
    text-align: center;
    
}
#manualbtn{
    color: #ebebeb !important;
}
#btnsForCustom{
    
    margin-top: 60px;

}
#btnsForCustom p{
    margin-bottom: 10px;
}
#autobtn{
    margin-right: 60px !important;
}

#newGame {
    margin: 0 auto;
    text-align: center;
}

 .nextbtn{
    
    display: inline;
    font-family: 'Quicksand';
    font-size: 24px;
    color: #ebebeb;
    line-height: 60px;
    text-align: center;
   
}
#newGame{
    width: 200px !important;
}
/* #game-container{
   
    position: relative;
    display:flex;
    left: -1000px;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
} */
/* #customStateContainer{
  
} */

#customState{
   
    background-color: #ebebeb;
    position: relative;
    display:flex;
    left: -1000px;
    flex-direction:row;
    flex-wrap:wrap;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 8px;
    text-align: center;

}
#manualbtn{
    color: #1a1a1a;
}
#show-manual,#show-auto,#depth-page{
    display: none;
    margin-top: 10px;
}

#game {
    
    background-color: #ebebeb;
    position: relative;
    display:flex;
    left: -1000px;
    flex-direction:row;
    flex-wrap:wrap;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    
  
}

/* #game {
    background-color: #ebebeb;
    width: 456px;
    padding: 5px;
    
    position: relative;
    display:flex;
    left: -1000px;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    
} */


#solve {
    margin-top: 0;
    color: #34495e;
    font-family: 'Quicksand';
    font-size: 0px;
    text-align: center;
}

span {
    font-family: 'Quicksand';
    font-size: 16px;
}

#choose div {
    margin-top: 50px;
}

#title {
    text-align: center;
    font-family: 'Quicksand';
    font-size: 72px;
    color: #ebebeb;
}

.details {
    border-top: 1px #ebebeb solid;
    border-bottom: 1px #ebebeb solid;
    height: 200px;
}
#customDetails{

    height: 230px !important;
}

#message-solvable,#manualMessage{
    text-align: center;
    margin: 0 auto;
}
#statistic{
    position: relative;
    margin:0 auto;
    margin-top: 20px;
     text-align: center;
}
.vertical {	
  display:inline;
  border-left: 2px solid #ebebeb;
  margin-left:10px;
}
.vertical p{
    font-family: 'Quicksand';
    color: #ebebeb;
    font-size: 20px;
    margin-left:10px;
    display:inline;
}
.details p,#dialog,#dialogForGame p ,#customDsc,#dialog-unsolvable{
    font-family: 'Quicksand';
    font-size: 24px;
    color: #ebebeb;
    line-height: 50px;
    text-align: center;
}
#custom-dialog{
    display: none;
    position: relative;
    width: 300px;
    height: 150px;
    padding: 10px;
    background: #34495e;
    color: #ebebeb;
    border: 1px solid #1a1a1a;
    text-align: center;
    margin: 0 auto;
    /* margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 37.5%; */
    /* margin-left: 200px; */
    font-family: 'Quicksand';
    font-size: 24px;
  
    line-height: 50px;

}
#custom-container {
   
    overflow: hidden; /* will contain if #first is longer than #second */
}

.customDsc2{  
    line-height: 10px;
  
}
.expState{
    font-family: 'Quicksand';
    font-size: 15px;
    color: #ebebeb;
    text-align: center 
}
#input-sizeN, .customDsc2{
    
    font-family: 'Quicksand';
    font-size: 24px;
    color: #ebebeb;
    text-align: center
}
#select-algo {
            font-family: 'Quicksand';
            font-size: 24px;
            color: #ebebeb;
            text-align: center

           }
#select-form{
    background-color: lightgray;
    width: 170px;
   border-radius: 3px;
   border: 0.2px;
    border-color: darkgray;
}
.okbtn{
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    width: 80px;
    border: 1px #34495e solid;
    border-radius: 8px;
    font-family: 'Quicksand';
    font-size: 24px;
    color: #34495e;
    background-color: grey;

}
.button,.button-custom {
    margin: 0 auto;
    text-align: center;
    padding: 3px;
    width: 80px;
    border: 1px #34495e solid;
    border-radius: 8px;
    font-family: 'Quicksand';
    font-size: 24px;
    color: #ebebeb;
    background-color: #34495e;
}
#newGameContainer{
  
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#dialogForGame,#dialog-unsolvable{
    display: none;
    position: relative;
    width: 100px;
    height: 50px;
    padding: 10px;
    background: #34495e;
    color: #ebebeb;;
    border: 1px solid #1a1a1a;
    font-size: 90%;
    text-align: center;
    margin: 0 auto;
  
}

#dialog{
    display: none;
    position: absolute;
    width: 300px;
    height: 150px;
    padding: 10px;
    background: #34495e;
    color: #ebebeb;;
    border: 1px solid #1a1a1a;
    font-size: 90%;
    text-align: center;
    /* margin: 0 auto; */
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 37.5%;
 
  }
#choose .button {
    width: 100px;
}

#select {
    text-align: center;
    font-family: 'Quicksand';
    font-size: 48px;
    color: #34495e;
}

select {
    margin-left: 20px;
    margin-bottom: 20px;
}



.piece ,#customState .piece{
    
    background-color:#18b0b0;
    border-radius: 10px;
    margin: 1px;
    position: relative;
    text-align: center;
 

}


#end {
   
    font-family: 'Quicksand';
    font-size: 36px;
    color: black;
    margin-top: 0;
    text-align: center;
    position: relative;
}
/* #saveState{
    margin-top: 10px;
    position: relative;
    left: -1000px;
    color: #34495e;
    text-align: center;
} */
#shuffle,#saveCustomState ,#saving,#manual-saving{
    position: relative;
    left: -1000px;
    color: #34495e;
    text-align: center;
    margin-top: 0;
}

#game-page{
    margin-top: 20px;
    
}
.numbers{
  margin-top: 50%;
   font-family: Quicksand;
    text-align: center;
}
