@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {margin: 0; padding: 0; }


body{
 background-color:  #116979; 
}

#stateNumbers,#stateNumbersContainer{
    position: relative;
    margin: 0 auto;
    text-align: center;
}


#sizeNbox{
    font-size: large;
    text-align: center;
    background-color:#ebebeb;
    width: 350px;
    border-radius: 7px;
}
 .buttonInline,#saveState,#retryManual,#cancelbtnWithRetry,#saveDepth,#cancelbtnForDepth{
    margin-right: 25px;
    display: inline;
    font-family: 'Quicksand';
    font-size: 20px;
    color: #ebebeb;
    line-height: 45px;   
}
#stopbtn{
    display: none;
}
#saveAndcancelBtns{
    text-align: center;
}

#game {
    padding: 3px;
    background-color: #ebebeb;
    position: relative;
    display:flex;
    left: -1000px;
    flex-direction:row;
    flex-wrap:wrap;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 350px;   
}
#game-container{
    float: left;
    width:78%;
}
#search{
    float: right;
    /* margin-left: 10px; */
    margin-top: 70px;
    width: 18%;
}
#state-container{
    margin-bottom: 25px;
}
#search p {
    margin: 0 auto;
}
#two-section{
    width: 590px;
    margin: 0 auto;
}

/*  */

.details {
    height: 200px;
}

#manualMessage{
    text-align: center;
    margin: 0 auto;
}

#statistic{
    position: relative;
    margin:0 auto;
    margin-top: 20px;
     text-align: center;
}
.vertical {	
  border-left: 2px solid #ebebeb;
  border-right: 2px solid #ebebeb;
  margin-left:40px;
}
.vertical p{
    font-family: 'Quicksand';
    color: #ebebeb;
    font-size: 20px;
    margin-left:10px;
    display:inline;
}
.details p,#dialog,#dialogForGame p{
    font-family: 'Quicksand';
    font-size: 24px;
    color: #ebebeb;
    line-height: 50px;
    text-align: center;
}
.text-style{
    font-family: 'Quicksand';
    font-size: 15px;
    color: #ebebeb;
    line-height: 60px;
    text-align: center;
}

.expState{
    font-family: 'Quicksand';
    font-size: 15px;
    color: #ebebeb;
    text-align: center 
}

#input-sizeN{
    margin-top: 70px;
    font-family: 'Quicksand';
    color: #ebebeb;
    text-align: center ;
    position: relative;
}

#select-form{
    background-color: lightgray;
    width: 170px;
   border-radius: 5px;
   border: 0.2px;
    border-color: darkgray;
}

.button{
    margin: 0 auto;
    text-align: center;
    padding: 3px;
    width: 80px;
    border: 1px #34495e solid;
    border-radius: 10px;
    font-family: 'Quicksand';
    font-size: 20px;
    color: #ebebeb;
    background-color: #34495e;
}
#solvebtn,#stopbtn{
    margin-top: 35px;
    margin-left: 60px;
}

#errorInChooseAlgo{
    color: red;
    display: none;
}
#dialogForGame{
    display: none;
    position: relative;
    width: 110px;
    height: 50px;
    padding: 10px;
    background: #34495e;
    color: #ebebeb;;
    border: 1px solid #1a1a1a;
    font-size: 24px;
    margin: 0 auto;
}

.piece {
    background-color:#18b0b0;
    border-radius: 10px;
    margin: 1px;
    position: relative;
    text-align: center;
}

.numbers{   
   font-family: 'Quicksand';
    text-align: center;
}
#container,#depthcontainer{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    visibility: hidden;
    display: none;
    background-color: rgba(22,22,22,0.5); 
}
#container:target, #depthcontainer:target {
    visibility: visible;
    display: block;
}
.reveal-modal {
    position: relative;
    margin: 0 auto;
    top: 25%;
}