{% extends 'base.html' %}
{%block body %}

     <div id="home-page">
        <div id="two-section" >
            <div id="game-container">
                <div  id="input-sizeN">
                    {% csrf_token %} 
                    <input value="3" id="sizeNbox" type="number" min="2" max="9" name="sizeN" required > 
                    
                  </div>
                <div id="game" style="display:none"> </div>
                <div id="dialogForGame" >
                    <p> Loading!</p> 
                </div>  
                <div id="statistic" style="display: none">
           
                    <div class="vertical" > <p id="firstp"></p></div>
                    <div class="vertical"> <p id="secondp"></p></div>
                    <div class="vertical"> <p id="thirdp"></p></div>
                    <div class="vertical"> <p id="forthp"></p></div>
                    <div class="vertical"> </div>
                    </div>
            </div>
           
            <div id="search">
                <div id="state-container">
                    <p class="text-style" >Change state: </p>
                    <div class="choices">
                        <div class="button buttonInline" id="custombtn">Custom</div>
                        <div class="button buttonInline" id="randombtn"> Randomize </div>
                        </div>
                </div>

                <p class="text-style" >Search : </p>
                <form name="selectForm" action="POST" id="sizeN">
                <select name="selectedOp" size="1" required id="select-form">
                    <option value="" disabled selected> Click to choose algorithm  </option > 
                    <option value="BFS"> BFS </option> 
                    <option value="DFS"> DFS </option>
                     <option value="IDFS"> Itreative Deeping Search</option> 
                     <option value="DLFS"> Depth Limited Search</option> 
                     <option value="GS"> Greedy Search </option> 
                     <option value="AStar"> A* Search </option>
                     </select>
                   
                    </form>
                            <div class="button" id="solvebtn">Solve </div>
                            <div class="button" id="stopbtn">Stop </div>
                            <p class="text-style" id="errorInChooseAlgo">choose algo</p>  
            </div>
        </div>
        
      
        <div id="container">
            <div class="reveal-modal">
            
                <div class="details" id="customDetails">
                    <p class="expState" id="firstexplain">Enter game state, from top-left to right-bottom (do not forget '-' between numbers)</p>
                    <p class="expState" id="exampleSameSize"></p>
                <div id="stateNumbersContainer">
                            <form id="manualSubmit">
                                <input id="stateNumbers" type="text"  name="stateNumbers" required >
                            </form>
                </div>
                <div id="saveAndcancelBtns">
                    <div class="button" id="saveState"> Save</div>
                    <div class="button buttonInline" id="cancelbtn"> Cancel</div>
                </div>
                 
                    <div id="manualMessage" style="display: none">
                        <div class="choices" >
                            <div class="button" id="retryManual"> Retry </div>
                            <div class="button" id="cancelbtnWithRetry"> Cancel</div>
                            </div>  
                    </div>
                 </div>
            </div>
        </div>
        
        <div id="depthcontainer">
            <div class="reveal-modal">
            
                <div class="details" id="customDetails">
                    <p class="expState" id="firstexplain">Enter the Depth (e.g. 20) </p>
                  
                <div id="stateNumbersContainer">
                    <form id="depthForm">
                        <input id="depth-size" type="number" min="0" required > 
                    </form>
                </div>
                <div id="saveAndcancelBtns">
                    <div class="button" id="saveDepth"> Save</div>
                    <div class="button" id="cancelbtnForDepth"> Cancel</div>
                    </div>
                 </div>
            </div>
        </div>
     </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../static/js/home1.js"></script>

{% endblock %}

